@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat|Roboto&display=swap');
/* font-family: 'Roboto', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --mainColor: #f52929;
  --maninYellow: #ffc914;
  --mainGrey: #b5c2b7;
  --mainBlack: #2e282a;
  --mainBlue: #00a7e1;
  --mainCream: #eddea4;
  --mainWhite: #f5f3f5;
  --secondColor: #d9e5d9;
  --mainRose: #e50052;
  --mainwhiteGrey: rgb(223, 220, 222);
  --mainwhitePink: rgb(250, 191, 196);
  --maindarkBlue: rgb(19, 50, 117);
  --mainwhiteGreen: rgb(199, 212, 0);
  --mainwhiteBlue: #00a3da;
  --mainRed: #d8232a;
  --mainGreen: #84bf41;
  --mainOrange: #f4b827;
  --mainDark: #4a4a4a;
}

body,
html {
  font-family: "Montserrat", sans-serif;
  background: var(--mainWhite);
}

.clearfix::after,
.clearfix::before {
  content: "";
  clear: both;
  display: table;
}

section {
  min-width: 100vw;
}

header {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)),
    url(img/banner/mickey_banner_.jpg) center/cover fixed no-repeat;
}

#nav {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8))
}

#nav ul {
  list-style-type: none;
  display: none;
}

#nav ul li:last-of-type {
  display: flex;
}

#nav ul li:last-of-type a {
  flex: 1 0 auto;
  text-align-last: center;
  color: var(--mainBlue);
}

#nav ul li:last-of-type a i.fab.fa-instagram {
  color: var(--mainColor);
  transition: color 2s ease;
}

#nav ul li:last-of-type a i.fab.fa-instagram:hover {
  color: var(--mainWhite);
}

#nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  background: transparent;
  padding: 10px;
  font-size: 25px;
  font-weight: 900;
  transition: color 2s ease;
}

#nav-links-i {
  color: var(--mainColor);
}

#nav-links-ii {
  color: var(--mainOrange);
}

#nav-links-iii {
  color: var(--mainBlue);
}

#nav-links-iv {
  color: var(--mainRose);
}

#nav-links-v {
  color: var(--mainGreen);
}

#nav-links-vi {
  color: var(--mainColor);
}

#nav ul li a:hover {
  color: var(--mainWhite);
}

.nav-logo {
  background: transparent;
  padding: 10px;
  margin-right: 15px;
  display: flex;
  justify-content: space-between;
}

.nav-logo img {
  border-radius: 15%;
}

.nav-logo .fas {
  align-self: center;
  padding: 10px;
  font-size: 35px;
  cursor: pointer;
  color: var(--mainwhitePink);
}

.new-nav {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8));
  position: fixed;
  width: 100vw;
  z-index: 10 !important;
}

#banner {
  flex: 1 0 auto;  
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.banner-text h1 {
  text-transform: uppercase;
  color: var(--mainColor);
  font-size: 2.5rem;
  font-style: italic;  
  animation-delay: 2s;
}

.banner-text #le {
  text-transform: uppercase;
  color: var(--maninYellow);
}

.banner-text #ba {
  text-transform: uppercase;
  color: var(--mainBlue);
  font-size: 4rem;
  font-style: italic;  
}

.banner-text #lo {
  text-transform: uppercase;
  color: var(--mainRose);
  font-size: 4rem;
  font-style: italic;  
}

.banner-text #ni {
  text-transform: uppercase;
  color: var(--mainGreen);
  font-size: 4rem;
  font-style: italic;  
}

.banner-line {
  width: 90%;
  height: 6px;
  background: linear-gradient(to right, #f52929, #ffc914, #00a3da, #e50052, #84bf41);  
  margin: 15px auto;
}

.banner-text h3 {
  text-transform: uppercase;
  margin: 10px 0;
  font-size: 16px;
  color: var(--mainwhitePink);
  font-family: 'Lato', sans-serif;
}

.banner-text span {
  text-transform: lowercase;
}

.banner-text a {
  width: 100px;
  display: inline-block;
  margin: 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  padding: 10px;
  color: var(--mainColor);
  border: 3px solid var(--mainColor);
  background: transparent;
  transition: color 2s ease, background 2s ease;
  animation-iteration-count: infinite;
  animation-delay: 2s;
}

.banner-text a:hover {
  color: var(--mainWhite);
  background: var(--mainColor);
}

@media screen and (min-width: 680px) {
  #nav {
    border-top: 5px solid var(--mainBlue);
    display: flex;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8))
  }

  #nav ul {
    display: flex !important;
    flex: 1 0 auto;
    justify-content: space-around;
    align-self: center;
    flex-wrap: wrap;
    padding: 0 10px;
  }

  #nav ul li {
    flex: 1 0 100px;
  }

  #nav ul li a {
    border-radius: 5px;
    text-align: center;
  }

  #nav ul li:last-of-type,
  #toggle-btn {
    display: none;
  }

  .banner-text h1 {
    font-size: 5.5rem;
  }

  .banner-text #ba {
    font-size: 7rem;
  }

  .banner-text #lo {
    font-size: 7rem;
  }

  .banner-text #ni {
    font-size: 7rem;
  }

  .banner-text h3 {
    font-size: 30px;
  }

  .banner-text a {
    width: 150px;
    font-size: 25px;
    font-weight: 800;
  }
}


header {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


#icon-section {
  height: 150px;
  background: var(--mainBlack);
  text-align: center;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 40%);
  padding: 20px 0 40px 0;
}

#icon-section a {
  display: inline-block;
  padding: 5px 10px;
  margin: 0 5px;
  font-size: 30px;
  color: var(--maninYellow);
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.8);
  transition: transform 2s ease, color 2s ease;
}

#icon-section a:hover {
  transform: translateY(-10px);
  color: var(--secondColor);
}

.title {
  display: flex;
  padding: 20px;
}

.title-icon {
  font-size: 60px;
  color: var(--maninYellow);
  margin-right: 10px;
}

.title-text {
  padding-left: 10px;
  border-left: 3px solid var(--mainBlue);
  text-transform: uppercase;
}

.title-heading {
  color: var(--mainBlack);
}

.title-subheading {
  padding: 5px;
  text-transform: uppercase;
  color: var(--mainBlue);
}

@media screen and (max-width: 776px) {
  .title-icon {
    font-size: 40px;
  }

  .title-text {
    font-size: 0.8rem;
  }
}

#work {
  min-height: 90vh;
  background: linear-gradient(rgba(255, 201, 20, 0.3), rgba(255, 201, 20, 0.3)),
    url(img/proizvodi/Baloni_Nebo_1.jpg) center/cover no-repeat fixed;
}

#work .title {
  background: var(--mainWhite);
  height: 50%;
}

#work .title-icon {
  color: var(--mainRose);
  font-size: 40px;
}

#work .title-text {
  font-size: 0.8rem;
}

.work-center {
  position: relative;
  min-width: 90vw;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.button-container {
  flex: 0 1 100%;
  padding: 5px 0 10px 0;
}

.button-group {
  min-width: 100%;
  justify-items: center;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.button-group button {
  width: 80px;
  height: 80px;
  display: inline-block;
  padding: 10px 10px;
  font-size: 8px;
  margin: 5px;
  border-radius: 5px;
  border: 2px solid var(--mainRose);
  text-transform: uppercase;
  font-weight: 800;
  color: var(--mainRose);
  background: var(--mainWhite);
  transition: background 2s ease, border 2s ease, color 2s ease;
}


.btn-back{ 
  display: block;    
  padding: 10px 10px;
  font-size: 60px;  
  align-self: center; 
  margin: 5px auto;   
  background: transparent; 
  color: var(--mainRose);  
  transition: background 2s ease, border 2s ease, color 2s ease;
}
.button-group button:hover {
  background: var(--mainBlue);
  border: 2px solid var(--mainBlue);
  color: var(--mainWhite);
}

.btn-back:hover{  
  background: var(--mainBlue);
  border: 2px solid var(--mainBlue);
  color: var(--mainWhite);
}

.selected {
  background: var(--mainRose) !important;
  color: var(--mainWhite) !important;
}

.picture-container {
  min-height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.img-container {
  width: 100%;
  margin: 5px 3px;
  transition: transform 2s ease;
}

.text-container {
  text-transform: capitalize;
  font-size: 0.6rem;
}

.product-img {
  display: block;
  width: 130px;
  height: 130px;
  border-radius: 10px;
  border: 3px solid var(--mainBlue);
}

.img-container:hover {
  transform: scale(2.5);
}

@media screen and (min-width: 776px) {
  #work {
    min-height: 70vh;
  }

  .button-container {
    flex: 0 0 100%;
  }

  .button-group {
    grid-template-columns: repeat(4, 1fr);
  }

  .button-group button {
    font-size: 15px;
    width: 150px;
    height: 150px;
  }

  .picture-container {
    grid-template-columns: repeat(5, 1fr);
  }

  .dataLoader {
    min-width: 40%;
    font-size: 3rem;
  }

  #work .title-icon {
    font-size: 60px;
  }

  #work .title-text {
    font-size: 1rem;
  }
}

@media screen and (min-width: 992px) {
  .button-container {
    flex: 0 0 70%;
  }

  .picture-container {
    grid-template-columns: repeat(10, 1fr);
  }

  .product-img {
    width: 150px;
    height: 150px;
  }

  .dataLoader {
    min-width: 40%;
    font-size: 5rem;
  }

};

h1 {
  position: relative;
}

h1:before {
  content: attr(data-text);
  position: absolute;
  overflow: hidden;
  max-width: 57rem;
  white-space: nowrap;
  color: var(--mainBlue);
  animation: loading 8s linear infinite;
}

@keyframes loading {
  0% {
    max-width: 0;
  }
}

.dataLoader {
  color: rgb(255, 255, 255);
}

.dataLoaderNone {
  display: none
};

#about {  
  min-height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: red;
}

.typewriter {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  text-align: center;
  background: var(--mainBlue);
  z-index: 0;
}

.typewriter h1 {
  color: var(--mainWhite);
  background: transparent;
  font-size: 2rem;
  padding: 20px;
  font-family: monospace;
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: .15em solid var(--maninYellow);
  /* The typwriter cursor */
  white-space: wrap;
  /* Keeps the content on a single line */
  margin: 50px auto;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em;
  /* Adjust as needed */
  animation:
    typing 10.5s steps(40, end),
    blink-caret .5s step-end;
  animation-delay: 5s;
}
/* The typing effect */
@keyframes typing {
  from {
    width: 0
  }
  to {
    width: 100%
  }
}
/* The typewriter cursor effect */
@keyframes blink-caret {

  from,
  to {
    border-color: transparent
  }
  50% {
    border-color: var(--maninYellow)
  }
}

@media screen and (max-width:776px) {
  .typewriter h1 {
    font-size: 1rem;
  }
}

.typewriter:after {
  content: '';
  /* Required to display content */
  position: absolute;
  /* Sets the position absolute to the top div */
  top: 0;
  left: 50%;
  margin-left: -50px;
  /* Set margin equal to border px */
  width: 0;
  z-index: 1;
  height: 0;
  border-top: solid 50px #fff;
  /* Creates the notch */
  border-left: solid 50px transparent;
  /* Creates triangle effect */
  border-right: solid 50px transparent;
  /* Creates triangle effect */
}

.typewriter:before {
  content: '';
  /* Required to display content */
  position: absolute;
  /* Sets the position absolute to the top div */
  bottom: 0;
  left: 50%;
  margin-left: -50px;
  /* Set margin equal to border px */
  width: 0;
  z-index: 1;
  height: 0;
  border-bottom: solid 50px #fff;
  /* Creates the notch */
  border-left: solid 50px transparent;
  /* Creates triangle effect */
  border-right: solid 50px transparent;
  /* Creates triangle effect */
}


#current .title {
  margin: 40px 0;
}

#current .title-icon {
  color: var(--mainGreen);
}

.current-item {
  background: linear-gradient(var(--mainBlue), var(--mainBlue));
}

.current-item img {
  display: block;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 2s ease;
}

.current-item img:hover {
  opacity: 0.5;
}

@media screen and (min-width: 576px) {
  #current-center {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 992px) {
  #current-center {
    grid-template-columns: repeat(4, 1fr);
  }
}

.number {
  text-align: center;
  background: var(--mainBlack);
  padding: 40px 0;
  color: var(--mainCream);
  transition: background 2s ease, color 2s ease;
}

.number:hover {
  background: var(--mainWhite);
  color: var(--mainGreen);
}

.number .fas {
  font-size: 60px;
}

.numscroller {
  font-size: 25px;
  margin: 20px 0;
}

.number h3 {
  text-transform: uppercase;
}

@media screen and (min-width: 576px) {
  #numbers {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 992px) {
  #numbers {
    grid-template-columns: repeat(4, 1fr);
  }
}

#team {
  padding: 40px 0;
  background: var(--mainwhiteGrey);
}

#team .title-subheading {
  color: var(--mainBlue);
}

#team .title-text {
  border-left: 3px solid var(--mainBlue);
}

.team-member {
  text-align: center;
  border: 1px solid var(--mainBlack);
  border-radius: 20px;
  background: var(--mainWhite);
  transition: background 2s ease;
  margin: 70px 0;
}

.team-member:hover {
  background: var(--mainBlue);
}

.team-member img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-top: -35px;
}

#team-center {
  max-width: 90vw;
  margin: 0 auto;
  padding: 40px 0;
}

.team-member h2 {
  text-transform: capitalize;
}

.team-member h5 {
  margin: 10px 0;
  text-transform: uppercase;
}

.team-member hr {
  width: 70%;
  margin: 0 auto;
  border: 1px solid var(--mainColor);
}

.team-member p {
  line-height: 2;
  margin: 10px;
}

.team-member-footer {
  padding: 20px 0;
  background: var(--mainBlack);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  justify-content: space-around;
}

.team-member-footer .fas {
  font-size: 30px;
  color: var(--maninYellow);
  transition: color 2s ease;
}

.team-member-footer .fas:hover {
  color: var(--mainBlue);
}

@media screen and (min-width:576px) {
  #team-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 15px;
  }
}

@media screen and (min-width:992px) {
  #team-center {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

.section-group {
  display: flex;
  flex-direction: column;


}

.form {
  padding: 10px;
  margin: 15px;
}

.contact-member {
  display: none;
}


.contact-form {
  width: 100%;
}


@media screen and (min-width:1280px) {
  .section-group {
    display: grid;
    grid-template-columns: 1.3fr 0.7fr;
    grid-column-gap: 10px;
  }

  .contact-member {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    justify-self: center;
    text-align: center;
    order: 1;
    padding: 10px;
    margin: 15px;
    margin-bottom: 50px;
  }

  .contact-member img {
    width: 100%;
    height: 100%;
  }

  .contact-form {
    order: 0;
    justify-self: center;
    width: 80%;
    align-self: center;
  }
}



input[type=text],
input[type=email],
select,
textarea {
  width: 100%;
  padding: 7px;
  border-radius: 3px;
  border: 2px solid var(--mainBlue);
}

textarea {
  height: 100px;
}

input[type=submit] {
  display: inline-block;
  padding: 10px 30px;
  margin-bottom: 10px;
  font-weight: 700;
  text-decoration: none;
  background: var(--mainBlue);
  color: var(--mainWhite);
  border-radius: 20px;
  transition: background 2s ease, border 2s ease, color 2s ease;
}

input[type=submit]:active {
  background: var(--mainWhite);
  border: 3xp solid var(--mainColor);
  color: var(--mainBlack);
  margin-right: 15px;
}

input[type=submit]:hover {
  background: var(--mainWhite);
  color: var(--mainColor);
  border: 3px solid var(--mainColor);
}

input[type=checkbox] {
  margin: 10px 5px 10px 0;
}

*:focus {
  outline: none;
}

.form-message {
  width: 70%;
  margin: 0 0 0 185px;
  padding: 10px;
  border-radius: 3px;
  margin-bottom: 20px;
  color: var(--mainBlack);
}

.success {
  background: rgba(39, 191, 68, 0.8);
}

.error {
  background: rgba(209, 46, 46, 0.8);
}



footer {
  background: var(--mainBlack);
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}

.footer-text {
  text-transform: uppercase;
  font-size: 10px;
  color: var(--mainWhite);
  margin-bottom: 10px;
}

.footer-icons {
  font-size: 25px;
}

@media screen and (max-width:478px) {
  .footer-icons {
    font-size: 20px;
  }

  .footer-text {
    font-size: 8px;
  }
}

.footer-icons .fab {
  margin-right: 20px;
  color: var(--mainWhite);
  transition: transform 2s ease;
}

.footer-icons .fab.fa-facebook:hover {
  color: var(--mainBlue);
  transform: translateY(-15px);
}

.footer-icons .fab.fa-instagram:hover {
  color: var(--mainColor);
  transform: translateY(-15px);
}
